.navbar{
  grid-area: n;
  background-color: rgb(248, 79, 206);
  padding: 20px;
}
.item a {
  color:white;
  text-decoration: none;
}

.item a.active {
  color:#058d05;
}

h2{
  color: beige;
}
.freindsItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fItem a {
  color:white;
  text-decoration: none;
}
.fItem a.active {
color: #fbff01;
}
.avatar img {
  width: 50px;
  border-radius: 15px;
}
